# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [40]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
def dataset_dimensions(df):
    rows, cols = df.shape
    print(f"Dataset contains {rows} rows and {cols} columns.")

# 2. Data types and corrections
def check_data_types(df):
    print("\nOriginal Data Types:\n", df.dtypes)
    
    # Fix "Customer Lifetime Value" - remove %, convert to float
    if 'Customer Lifetime Value' in df.columns:
        df['Customer Lifetime Value'] = df['Customer Lifetime Value'].str.replace('%', '', regex=False)
        df['Customer Lifetime Value'] = pd.to_numeric(df['Customer Lifetime Value'], errors='coerce')
    
    # Fix "Number of Open Complaints" - known issue with "1/0/00"
    if 'Number of Open Complaints' in df.columns:
        df['Number of Open Complaints'] = pd.to_numeric(df['Number of Open Complaints'], errors='coerce')

    print("\nCorrected Data Types:\n", df.dtypes)
    return df

# 3. Unique values & Categorical/Continuous Columns
def unique_and_categorical(df):
    print("\nUnique values per column:")
    for col in df.columns:
        unique_vals = df[col].nunique(dropna=True)
        print(f"{col}: {unique_vals} unique values")

    categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
    numerical_cols = df.select_dtypes(include=[np.number]).columns.tolist()

    print("\nCategorical Columns:", categorical_cols)
    print("\nNumerical Columns:", numerical_cols)

    print("\nUnique values of Categorical Columns:")
    for col in categorical_cols:
        print(f"\n{col}:\n{df[col].dropna().unique()}")

    print("\nRange of Numerical Columns:")
    for col in numerical_cols:
        print(f"\n{col}: min = {df[col].min()}, max = {df[col].max()}")

# 4. Summary Statistics for Numerical Columns
def numerical_summary(df):
    print("\nNumerical Summary Statistics:")
    numerical_cols = df.select_dtypes(include=[np.number])
    print(numerical_cols.describe().T)
    
    print("\nMedian and Mode for Numerical Columns:")
    for col in numerical_cols.columns:
        print(f"{col} - Median: {numerical_cols[col].median()}, Mode: {numerical_cols[col].mode().iloc[0] if not numerical_cols[col].mode().empty else 'N/A'}")

# 5. Summary Statistics for Categorical Columns
def categorical_summary(df):
    print("\nCategorical Summary Statistics:")
    categorical_cols = df.select_dtypes(include=['object'])
    for col in categorical_cols.columns:
        print(f"\n{col} - Value Counts:\n{df[col].value_counts(dropna=False)}")

# Run all analyses
def analyze_dataset(file_path):
    df = load_data(file_path)
    dataset_dimensions(df)
    df = check_data_types(df)
    unique_and_categorical(df)
    numerical_summary(df)
    categorical_summary(df)

In [44]:
list (df.columns)

['Customer',
 'ST',
 'GENDER',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']

In [46]:
df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [48]:
df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [13]:
df.duplicated().sum()

np.int64(2936)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [84]:
import pandas as pd

def least_common_locations(df):
    # Count frequencies of each location
    location_counts = df['ST'].value_counts(dropna=False)
    
    # Convert to Series and sort in ascending order
    least_common = location_counts.sort_values(ascending=True).head(5)
    
    print("Top 5 least common customer locations:\n")
    print(least_common)

    return least_common
least_common_locations(df)

Top 5 least common customer locations:

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [90]:
def analyze_policy_sales(df):
    # Count the number of policies per policy type
    policy_counts = df['Policy Type'].value_counts()
    
    # Get the policy type with the highest count
    most_sold_policy = policy_counts.idxmax()
    highest_count = policy_counts.max()
    
    print("Total number of policies sold by type:\n")
    print(policy_counts)
    print("\nMost sold policy type:")
    print(f"{most_sold_policy} with {highest_count} policies sold")
    
    return policy_counts, most_sold_policy
analyze_policy_sales(df)

Total number of policies sold by type:

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Most sold policy type:
Personal Auto with 780 policies sold

(Policy Type
 Personal Auto     780
 Corporate Auto    234
 Special Auto       57
 Name: count, dtype: int64,
 'Personal Auto')

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [94]:
def compare_income_by_policy(df):
    # Filter Personal Auto customers
    personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto']
    
    # Filter Corporate Auto customers
    corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']
    
    # Calculate average income (excluding NaNs)
    personal_avg_income = personal_auto_df['Income'].mean()
    corporate_avg_income = corporate_auto_df['Income'].mean()
    
    print("Average Income Comparison:")
    print(f"Personal Auto:  ${personal_avg_income:.2f}")
    print(f"Corporate Auto: ${corporate_avg_income:.2f}")
    
    return personal_avg_income, corporate_avg_income

compare_income_by_policy(df)

Average Income Comparison:
Personal Auto:  $38180.70
Corporate Auto: $41390.31

(np.float64(38180.69871794872), np.float64(41390.31196581197))

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [96]:
def high_claim_customers(df):
    # Step 1: Calculate the 75th percentile
    claim_75_percentile = df['Total Claim Amount'].quantile(0.75)
    
    # Step 2: Filter customers with claims above the 75th percentile
    high_claim_df = df[df['Total Claim Amount'] > claim_75_percentile]
    
    # Step 3: Show summary statistics
    print(f"75th percentile for Total Claim Amount: {claim_75_percentile:.2f}")
    print(f"\nNumber of high claim customers: {len(high_claim_df)}")
    print("\nSummary statistics for high claim customers:\n")
    print(high_claim_df.describe(include='all'))
    
    return high_claim_df

high_claims = high_claim_customers(df)

75th percentile for Total Claim Amount: 532.80

Number of high claim customers: 264

Summary statistics for high claim customers:

       Customer      ST GENDER Education Customer Lifetime Value  \
count       264     264    238       264                     264
unique      264       7      5         5                     256
top     QZ44356  Oregon      F  Bachelor              578018.22%
freq          1      90    115        85                       3
mean        NaN     NaN    NaN       NaN                     NaN
std         NaN     NaN    NaN       NaN                     NaN
min         NaN     NaN    NaN       NaN                     NaN
25%         NaN     NaN    NaN       NaN                     NaN
50%         NaN     NaN    NaN       NaN                     NaN
75%         NaN     NaN    NaN       NaN                     NaN
max         NaN     NaN    NaN       NaN                     NaN

              Income  Monthly Premium Auto Number of Open Complaints  \
count     264.000000            264.000000                       264
unique           NaN                   NaN                         6
top              NaN                   NaN                    1/0/00
freq             NaN                   NaN                       206
mean    23677.344697            165.193182                       NaN
std     27013.483721            623.930992                       NaN
min         0.000000             63.000000                       NaN
25%         0.000000             99.000000                       NaN
50%     18807.000000            114.000000                       NaN
75%     42423.750000            133.250000                       NaN
max     99316.000000          10202.000000                       NaN

          Policy Type Vehicle Class  Total Claim Amount
count             264           264          264.000000
unique              3             6                 NaN
top     Personal Auto           SUV                 NaN
freq              191           101                 NaN
mean              NaN           NaN          782.228263
std               NaN           NaN          292.751640
min               NaN           NaN          537.600000
25%               NaN           NaN          606.521741
50%               NaN           NaN          679.597985
75%               NaN           NaN          851.400000
max               NaN           NaN         2893.239678